<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-icon class="titletext" (click)="backAlertConfirm()" name="chevron-back-outline" style="font-size: 20px;"></ion-icon>
    </ion-buttons>
    <ion-title class="titletext">TAMBAH CUTI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" color="light"> 
  <form [formGroup]="editForm" (ngSubmit)="saveForm()">
    <ion-card>
      <ion-list-header>
        <ion-label style="text-align: center !important;">TAMBAH CUTI</ion-label>
      </ion-list-header>
    
      <br>
      <ion-item>
        <ion-label position="floating"><b>TARIKH MULA</b></ion-label>
        <ion-input formControlName="StartDate" type="Date" value=" " required></ion-input>
      </ion-item>
      <br>
      <ion-item>  
        <ion-label position="floating"><b>TARIKH TAMAT</b></ion-label>
        <ion-input formControlName="EndDate" type="Date" value=" " required></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="floating"><b>JENIS CUTI</b></ion-label>
          <ion-select  formControlName="LeaveCode" value=" " mode="ios" cancelText="Kembali" interface="action-sheet" (ionChange)= "getList" required>
            <ion-select-option *ngFor="let data of JenisCuti | keyvalue" value="{{data.value.eaal_leavekod}}">{{data.value.eaal_leavedesc | uppercase}}</ion-select-option>
          </ion-select>
      </ion-item>
      <br>
      <ion-item>  
        <ion-label position= "floating"><b>CATATAN</b></ion-label>  
        <ion-textarea  formControlName="Remark" type="text" maxlength="100" value=" "></ion-textarea> 
      </ion-item>
    </ion-card>
      <ion-footer>
        <ion-button class="btn-color" [disabled]="!editForm.valid" type="submit" expand="block">SIMPAN</ion-button>
      </ion-footer>
  </form>
</ion-content>