<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons class="titletext" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ALASAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-calendar [(ngModel)]="date"
      [options]="optionsRange"
      [type]="type"
      [format]="'DD-MM-YYYY'">
    </ion-calendar>
  </div>
  
  <!--Bottom Tabs-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button  >
        <ion-icon name="finger-print-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button  >
        <ion-icon name="list-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button  >
        <ion-icon name="man-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button  >
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
