<ion-header>
  <ion-toolbar class="new-background-color">
    <!-- <ion-buttons class="titletext" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-icon class="titletext" name="close-outline" style="font-size: 20px;" routerLink="/attendace"></ion-icon>
    </ion-buttons>
    <ion-title class="titletext">KEHADIRAN INDIVIDU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-lable style="justify-content: center !important;">Maklumat Kehadiran Pada Hari <b>Jumaat, 12/03/2021</b></ion-lable>
  </ion-item>

  <!--No. 1-->
  <ion-item-sliding id="item101">
    <ion-item>
      <ion-icon name="chevron-forward-outline" routerLink="/attendace/updatereason" slot="end"></ion-icon>
      <ion-label>
        <ion-card class="bg-style">  
          <ion-card-header>  
            <ion-card-subtitle>WAKTU MASUK : <b>07:45</b></ion-card-subtitle>  
            <ion-card-subtitle>WAKTU KELUAR : <b>17:33</b></ion-card-subtitle>
            <ion-card-subtitle>STATUS : <b>-</b> </ion-card-subtitle>
            <ion-card-subtitle>CATATAN</ion-card-subtitle> 
          </ion-card-header>
          <ion-card-content>
            -
          </ion-card-content>  
        </ion-card>
      </ion-label>
    </ion-item>

    <!-- <ion-item-options side="start">
      <ion-item-option color="danger">
        <ion-icon (click)="presentAlertConfirm()" slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options> -->

    <ion-item-options side="end">
      <ion-item-option color="success">
        <ion-icon slot="icon-only" name="create" routerLink="/leave/edit"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--No. 2-->
  <ion-item-sliding id="item101">
    <ion-item>
      <ion-icon name="chevron-forward-outline" routerLink="/attendace/updatereason" slot="end"></ion-icon>
        <ion-label>
          <ion-card class="bg-style">  
            <ion-card-header>  
              <ion-card-subtitle>WAKTU MASUK : - </ion-card-subtitle>  
              <ion-card-subtitle>WAKTU KELUAR : - </ion-card-subtitle>
              <ion-card-subtitle>STAUS : <b>LULUS</b> </ion-card-subtitle>
              <ion-card-subtitle>CATATAN</ion-card-subtitle> 
            </ion-card-header>
            <ion-card-content>
              CUTI REHAT - URUSAN KELUARGA
            </ion-card-content>  
          </ion-card>
      </ion-label>
    </ion-item>

    <!-- <ion-item-options side="start">
      <ion-item-option color="danger">
        <ion-icon (click)="presentAlertConfirm()" slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options> -->

    <ion-item-options side="end">
      <ion-item-option color="success">
        <ion-icon slot="icon-only" name="create" routerLink="/leave/edit"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">  
    <ion-fab-button class="fab-color">  
      <ion-icon routerLink="/attendace" name="calendar"></ion-icon>
    </ion-fab-button>  
  </ion-fab> 
  <!-- <ion-button color="success" style="justify-content: center;" routeLink="#">Kembali</ion-button> -->
</ion-content>
<!-- <ion-footer>
  <section>
    <ion-button class="btn-color" routerLink="/attendace" expand="full">KEMBALI</ion-button>
  </section>
</ion-footer> -->
