<ion-content>
  <br>
  <br>

  <ion-row style="justify-content: center;">
    <ion-label>
      <img src="assets/img/logo_etouch.png" style="justify-content: center;" width="300px" height="300px">
    </ion-label>
  </ion-row>
  <ion-grid>
    <ion-row style="justify-content: center;">
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <br>
        <br>
        <div class="btn-login">
          <ion-button class="loginbtn-style" shape="round" size="large" type="button" (click)="openweb()">Login
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-label>Hak Cipta Terpelihara © INSTUN {{today}}</ion-label>
  </ion-toolbar>
</ion-footer>
