<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons class="titletext" slot="start">
      <ion-menu-button class="titletext"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titletext">UTAMA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)" spinner="none" disabled="false">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circular"></ion-refresher-content>
  </ion-refresher>
  <ion-item class="user-bar">
    <ion-avatar class="item-avatar" slot="start">
      <img src="assets/img/gambar/{{staffid}}.jpg">
    </ion-avatar>
    <ion-label>
      <h2>
        <strong style="font-size: 20px;">SELAMAT DATANG</strong>
      </h2>
      <h2 *ngFor="let data of personal | keyvalue"><b>
          {{data.value.staffName}}<br>
          {{data.value.icNumber}}</b>
      </h2>
    </ion-label>
  </ion-item>
  <ion-item class="bg-style">
    <ion-label style="text-align: center !important;">KEHADIRAN PADA <b style="font-weight: bolder;"
        *ngFor="let data of today | keyvalue">{{data.value.tarikh | date:'dd-MM-YYYY'}}</b></ion-label>
  </ion-item>

  <ion-card-content class="bg-style">
    <ion-row style="text-align: center;">
      <ion-col col-6 class="table-border-1">
        <ion-label>MASUK</ion-label>
        <br>
        <ion-label class="personal" style="color: #1eddac;">
          <b *ngIf="comeinearly">{{comeinearly}}</b>
          <b *ngIf="!comeinearly"></b>
        </ion-label>
        <ion-label class="personal" style="color: #ff0000;">
          <b *ngIf="comeinlate">{{comeinlate}}</b>
          <b *ngIf="!comeinlate"></b>
        </ion-label>
      </ion-col>
      <ion-col col-6 class="table-border-2">
        <ion-label>TAMAT</ion-label>
        <br>
        <ion-label class="personal" style="color: #A39FA0;">
          <b *ngIf="comeinearly > '07:29' && !wkeluar">{{newwaktukerjasec}}</b>
          <b *ngIf="comeinearly < '07:30' && !wkeluar">16:30</b>
          <b *ngIf="comeinlate && !wkeluar">{{newwaktukerjasec}}</b>
          <b *ngIf="!comeinearly && !comeinlate">18:00</b>
          <b *ngIf="newwaktukerjasec && wkeluar">18:00</b>
        </ion-label>
      </ion-col>
      <ion-col col-6 class="table-border-3">
        <ion-label>KELUAR</ion-label>
        <br>
        <ion-label class="personal" style="color: #ff0000;">
          <b *ngIf="wkeluar == '16:29' || wkeluar < '16:29'">{{wkeluar}}</b>
          <b *ngIf="!wkeluar"></b>
        </ion-label>
        <ion-label class="personal" style="color: #1eddac;">
          <b *ngIf="wkeluar > '16:29' || wkeluar == '16:30'">{{wkeluar}}</b>
          <b *ngIf="!wkeluar"></b>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col col-6 class="table-border-4">
        <ion-label>CUTI</ion-label>
        <br>
        <ion-label class="personal" style="color: #1eddac;">
          <b *ngIf="jumlahcuti">{{jumlahcuti}} HARI</b>
          <b *ngIf="!jumlahcuti">0 HARI</b>
        </ion-label>
      </ion-col>
      <ion-col col-6 class="table-border-5">
        <ion-label>KURSUS</ion-label>
        <br>
        <ion-label class="personal" style="color: #1eddac;">
          <b *ngIf="jumlahhari">{{jumlahhari}} HARI</b>
          <b *ngIf="!jumlahhari">0 HARI</b>
        </ion-label>
      </ion-col>
      <ion-col col-6 class="table-border-6">
        <ion-label>WARNA KAD</ion-label>
        <br>
        <ion-button *ngFor="let data of cardcolor | keyvalue"
          style="border-radius:2%; border: 2px solid black !important; --background: {{data.value.color}};"
          shape="square"></ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-card class="bg-style-card">
    <ion-item>
      <ion-icon name="person-outline" style="font-size: 28px;"></ion-icon>
      <ion-card-content style="margin-top: 2%;" *ngFor="let data of personal | keyvalue">
        &nbsp;&nbsp;{{data.value.staffName}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-icon src="assets/icon/id-card.svg" style="font-size: 28px;"></ion-icon>
      <ion-card-content style="margin-top: 2%; font-size: 15px;" *ngFor="let data of personal | keyvalue">
        &nbsp;&nbsp;{{data.value.icNumber}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-icon name="ribbon-outline" style="font-size: 28px;"></ion-icon>
      <ion-card-content style="margin-top: 2%;" *ngFor="let data of personal | keyvalue">
        &nbsp;&nbsp;{{data.value.jawatan}} <br>&nbsp;&nbsp;{{data.value.grade}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-icon name="time-outline" style="font-size: 28px;"></ion-icon>
      <ion-card-content style="margin-top: 2%;" *ngFor="let data of whuser | keyvalue">
        &nbsp;&nbsp;{{data.value.shiftCode}} <br>&nbsp;&nbsp;[{{data.value.shiftFrom | date: 'dd-MM-YYYY'}} -
        {{data.value.shiftEnd | date: 'dd-MM-YYYY'}}] ({{data.value.startTime}} - {{data.value.endTime}})
      </ion-card-content>
    </ion-item>

  </ion-card>
</ion-content>
<ion-toolbar>
  <!--Tabs Bottom-->
  <ion-tabs>
    <ion-tab-bar slot="bottom" style="overflow: auto; justify-content: flex-start;">
      <ion-tab-button routerLink="/attendace/approve">
        <ion-icon src="assets/icon/person-timer.svg" style="font-size: 25px;"></ion-icon>
        <ion-badge color="danger" class="tabs-badge" *ngIf="countTotalkehadiran !== 0">{{countTotalkehadiran}}
        </ion-badge>
        <ion-badge color="danger" class="tabs-badge" *ngIf="countTotalkehadiran == 0">0</ion-badge>
        <ion-label style="font-size: 10px; font-weight: bolder;">KEHADIRAN</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/course">
        <ion-icon src="assets/icon/books.svg" style="font-size: 25px;"></ion-icon>
        <ion-badge color="danger" class="tabs-badge" *ngIf="countTotalCourses !== 0">{{countTotalCourses}}</ion-badge>
        <ion-badge color="danger" class="tabs-badge" *ngIf="countTotalCourses == 0">0</ion-badge>
        <ion-label style="font-size: 10px; font-weight: bolder;">KURSUS</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/leave">
        <ion-icon name="medkit-outline" style="font-size: 25px;"></ion-icon>
        <ion-badge color="danger" class="tabs-badge" *ngIf="countTotalLeave !== 0">{{countTotalLeave}}</ion-badge>
        <ion-badge color="danger" class="tabs-badge" *ngIf="countTotalLeave == 0">0</ion-badge>
        <ion-label style="font-size: 10px; font-weight: bolder;">CUTI</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/reader">
        <ion-icon name="finger-print-outline" style="font-size: 25px;"></ion-icon>
        <ion-label style="font-size: 10px; font-weight: bolder;">STATUS READER</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!--End of Tabs Bottom-->
</ion-toolbar>
