<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-icon class="titletext" (click)="backAlertConfirm()" name="chevron-back-outline" style="font-size: 20px;"></ion-icon>
    </ion-buttons>
      <ion-title class="titletext">PERMOHONAN KURSUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" color="light"> 
  <form [formGroup]="editForm" (ngSubmit)="saveForm()">
    
    <ion-list-header>
      <ion-label style="text-align: center !important;">MAKLUMAT KURSUS</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">JENIS TUGAS LUAR</ion-label>
      <ion-select [(ngModel)] = "KurCode" formControlName="KurCode"  mode="ios" cancelText="Kembali" interface="action-sheet" (ionChange)= "getList"  class="required">
        <ion-select-option *ngFor="let data of JenisTugasLuar | keyvalue" value="{{data.value.KursusKod}}">{{data.value.KursusDesc | uppercase}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="KurCode === '15' || KurCode === '19' || KurCode === '16' || KurCode === '18' || KurCode === '5' " required>
      <ion-label position="floating"><b>MASA MULA</b></ion-label>
      <ion-input  formControlName="TimeStart"  type="Time" displayFormat="H:mm:ss" ></ion-input>

      <ion-label position="floating"><b>MASA TAMAT</b></ion-label>
      <ion-input  formControlName="TimeEnd"  type="Time" displayFormat="H:mm:ss" ></ion-input>
    </ion-item>

    <ion-item>  
      <ion-label position="floating"><b>TARIKH MULA</b></ion-label>
      <ion-input formControlName="KurStart" type="Date"  required></ion-input>
    </ion-item> 

    <ion-item>  
      <ion-label position="floating"><b>TARIKH AKHIR</b></ion-label>
      <ion-input formControlName="KurEnd" type="Date" displayFormat="YYYY-MM-DD" required></ion-input>
    </ion-item> 
    
    <ion-item>  
      <ion-label position= "floating"><b>TAJUK TUGAS LUAR</b></ion-label>  
      <ion-input  formControlName="CourseName" type="text" value= " " required></ion-input> 
    </ion-item>

    <ion-item>  
      <ion-label position= "floating"><b>TUJUAN / LOKASI</b></ion-label>  
      <ion-input  formControlName="KurLocation" type="text" value=" " required></ion-input> 
    </ion-item>

    <ion-item>  
      <ion-label position= "floating"><b>ANJURAN</b></ion-label>  
      <ion-input  formControlName="KurAnjuran" type="text" value=" " required></ion-input> 
    </ion-item>

    <ion-footer *ngIf="isKeyboardHide">
      <ion-button class="btn-color" [disabled]="!editForm.valid" type="submit"  value="id" expand="block">MOHON</ion-button>
    </ion-footer>

  </form>
</ion-content>