<ion-content color="success">
  <br>
  <!-- <ion-icon name="close-outline"></ion-icon> -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-row style="justify-content: center;">
    <img src="assets/img/logo.png" style="size: 14px;">
  </ion-row>
  <br>
  <ion-row style="justify-content: center;">
    <h2 style="font-size:20px; font-family:verdana; color: white; text-align: center;">YOUR LEAVE HAS BEEN SUCCESSFULLY SUBMITTED</h2>
  </ion-row>
  <ion-row style="padding-top: 10px; position: relative; justify-content: center;">
    <ion-icon name="checkmark-circle" style="font-size: 400%;"></ion-icon>
  </ion-row>
  <ion-row style="padding-top: 10px; text-align: center;">
    <ion-col>
      <ion-button color="light" routerLink="/userdashboard">
        <span float:right style="color: #4BB543;">BACK TO MAIN MENU</span>
      </ion-button>  
    </ion-col>
  </ion-row>
</ion-content>
