<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons class="titletext" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>USER</ion-title> -->
  </ion-toolbar>
</ion-header>

<div id="main" style="background-color: rgba(92, 184, 92); max-width: 480px;  height: 90px;">
  <!-- <ion-row style="justify-content: center;">
    <img src="assets/img/user.png" style="margin-top: 7%;" width="auto" height="50">
  </ion-row> -->
  <h2 style="font-size:18px; font-family:verdana; text-align: center;">ALI BIN ABU</h2>
  <h2 style="font-size:18px; font-family:verdana; text-align: center;">123456789</h2>
</div>

<!-- <ion-item style="justify-content: center;">
  <ion-icon name="alarm-outline"></ion-icon>
  <span class="text">Recent</span>
</ion-item> -->

<ion-content class="padding">

  <ion-card >
    <ion-label position="floating"><b>INFO</b></ion-label>
    <ion-item>
      <ion-label position="floating"><b>POSITION GRED</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        PEGAWAI TEKNOLOGI MAKLUMAT
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>JENIS KEHADIRAN</b></ion-label>
      <ion-card-content style="margin-top: 5%; white-space: pre-line;">
        NORMAL
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>WAKTU KERJA</b></ion-label>
      <ion-card-content style="margin-top: 5%; white-space: pre-line;">
        WAKTU BEKERJA FLEKSI
      </ion-card-content>
    </ion-item>
  </ion-card>

  <br>
  <ion-card>
    <ion-label position="floating"><b>MAKLUMAT CUTI UNTUK TAHUN 2020</b></ion-label>
    <ion-item>
      <ion-label position="floating"><b>LEAVE HAS NOT PASSED</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        -
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>JENIS KEHADIRAN</b></ion-label>
      <ion-card-content style="margin-top: 5%; white-space: pre-line;">
        NORMAL
      </ion-card-content>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating"><b>WORK TIME</b></ion-label>
      <ion-card-content style="margin-top: 5%; white-space: pre-line;">
        WAKTU BEKERJA FLEKSI
      </ion-card-content>
    </ion-item> -->
  </ion-card>

  <!--Bottom Tabs-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button  >
        <ion-icon name="finger-print-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button  >
        <ion-icon name="list-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button  >
        <ion-icon name="man-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button  >
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
