/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Insert Font Type*/
ion-title {
  font-family:Ubuntu-Regular !important;
  font-size: 20px;
}

h2 {
  font-family:Ubuntu-Regular !important;
  font-size: 15px;
  color: white !important;
  text-align: center !important;
}

ion-label {
  font-family:Ubuntu-Regular !important;
  font-size: 12px;
}

label {
  font-family:Ubuntu-Regular !important;
  font-size: 12px;
  color: black !important;
  font-weight: bold;
}

ion-card-subtitle {
  font-family:Ubuntu-Regular !important;
  font-size: 15px;
}

ion-card-content {
  font-family:Ubuntu-Regular !important;
  font-size: 13px;
}
/* End Of Font Type*/

.user-bar {
  --background: linear-gradient(90deg, #1eddac, #1eddac, #1eddac, #1eddac, #1eddac, #04a4f4);

  .item-avatar{
    border-radius:50%;
    height:6rem;
    width:6rem;
    border: 4px solid grey !important;
  }
}

.new-background-color{
  --background: linear-gradient(90deg, #1eddac, #1eddac, #1eddac, #1eddac, #1eddac, #04a4f4);
}

.titletext {
  color: white;
  font-weight: bold;
}

.personal{ 
  font-size: 20px !important; 
}

.bg-style {
  border-radius: 15px;
  --background: #efefef !important;

  .table-border-1 {
    background-color: white !important;
    border-top-left-radius: 15px;
    border-color: #efefef; 
    border-width: 1.5px; 
    border-style:solid; margin-bottom : -1px;
  }

  .table-border-2 {
    background-color: white !important;
    border-color: #efefef; 
    border-width: 1.5px; 
    border-style:solid; margin-bottom : -1px;
  }

  .table-border-3 {
    background-color: white !important;
    border-top-right-radius: 15px;
    border-color: #efefef; 
    border-width: 1.5px; 
    border-style:solid; margin-bottom : -1px;
  }

  .table-border-4 {
    background-color: white !important;
    border-bottom-left-radius: 15px;
    border-color: #efefef; 
    border-width: 1.5px; 
    border-style:solid; margin-bottom : -1px;
  }

  .table-border-5 {
    background-color: white !important;
    border-color: #efefef; 
    border-width: 1.5px; 
    border-style:solid; margin-bottom : -1px;
  }

  .table-border-6 {
    background-color: white !important;
    border-bottom-right-radius: 15px;
    border-color: #efefef; 
    border-width: 1.5px; 
    border-style:solid; margin-bottom : -1px;
  }

}

.bg-style-card {
  border-radius: 15px;
  --background: #efefef !important;
}

.tabs-badge {
  font-size: 10px;
  font-weight: bolder;
  font-size: 13px;
  padding: 4px 4px;
}