<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="end">
      <ion-icon class="titletext" name="close-outline" style="font-size: 20px;" routerLink="/leave"></ion-icon>
    </ion-buttons>
    <ion-title class="titletext">RINGKASAN CUTI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let data of Leavedetails | keyvalue">
    <ion-item>
      <ion-label position="floating"><b>TARIKH MULA</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.StartDate}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>TARIKH AKHIR</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.EndDate}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>BIL. HARI</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.NoOfDay}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>JENIS CUTI</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{descCode}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>CATATAN</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.Remark}}
      </ion-card-content>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <section>

    <ion-button class="btn-color" routerLink="/leave" expand="full">KEMBALI</ion-button>
  </section>
</ion-footer>
