<ion-header>
  <ion-toolbar class="new-background-color">
    <!-- <ion-buttons class="titletext" slot="start">
      <ion-icon name="chevron-back-outline" routerLink="/leave"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-icon class="titletext" name="close-outline" style="font-size: 20px;" routerLink="/leave"></ion-icon>
    </ion-buttons>
    <ion-title class="titletext">PILIH TARIKH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="ion-text-wrap" style="text-align: center;">Sila Pilih Tarikh Mula Dan Tarikh Akhir Cuti Pada Kalendar</ion-label>
  </ion-item>
  <div class="ion-padding">
    <ion-calendar [(ngModel)]="dateRange"
      [options]="optionsRange"
      [type]="type"
      [format]="'DD-MM-YYYY'"
      [canBackwardsSelected]="true">
    </ion-calendar>

    <!-- <ion-calendar [(ngModel)]="date"
              (change)="onChange($event)"
              [type]="type"
              [format]="'YYYY-MM-DD'">
</ion-calendar> -->
  </div>
  
    <!--Next Page Button-->
    <!-- <ion-list class="align">
      <ion-icon primary large name="chevron-forward-outline" routerLink="/leave/confirm"></ion-icon>
    </ion-list> -->


    <!--Bottom Tabs-->
    <!-- <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button  >
          <ion-icon name="finger-print-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button  >
          <ion-icon name="list-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button  >
          <ion-icon name="man-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button  >
          <ion-icon name="hourglass-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button>
          <ion-icon name="list-circle-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->
</ion-content>
<ion-footer>
  <section>
    <ion-button class="btn-color" size="large" routerLink="/leave/confirm" expand="full">SETERUSNYA</ion-button>
  </section>
</ion-footer>
