/* Insert Font Type*/
ion-title {
  font-family:Ubuntu-Regular !important;
  font-size: 20px;
}

ion-label {
  font-family:Ubuntu-Regular !important;
  font-size: 15px;
}

ion-card-content {
  font-family:Ubuntu-Regular !important;
  font-size: 13px;
}

ion-button {
  font-family:Ubuntu-Regular !important;
}
/* End Of Font Type*/

.new-background-color{
  --background: linear-gradient(90deg, #1eddac, #1eddac, #1eddac, #1eddac, #1eddac, #04a4f4);
}


.titletext {
  color: white;
  font-weight: bold;
}

.btn-color {
  --background: #1E90FF;
}