<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-icon class="titletext" name="chevron-back-outline" style="font-size: 20px;" routerLink="/course"></ion-icon>
    </ion-buttons>
    <ion-title class="titletext">RINGKASAN KURSUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of Coursedetails | keyvalue">
    <ion-item>
      <ion-label position="floating"><b>JENIS TUGAS LUAR</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{descCode | uppercase}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>TARIKH MULA</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.KurStart | date:'dd-MM-YYYY'}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>TARIKH AKHIR</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.KurEnd | date:'dd-MM-YYYY'}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>BIL HARI</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.KurNoDays}} HARI
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>TAJUK TUGAS LUAR</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.CourseName | uppercase}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>TUJUAN / LOKASI</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.KurLocation | uppercase}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>ANJURAN</b></ion-label>
      <ion-card-content style="margin-top: 5%;">
        {{data.value.KurAnjuran | uppercase}}
      </ion-card-content>
    </ion-item>

    <ion-item>
      <ion-label position="floating"><b>STATUS PELULUS</b></ion-label>
      <ion-card-content style="margin-top: 5%;" *ngIf="data.value.Status == '0'">
        <b>BELUM LULUS</b> <br>
        {{data.value.Pelulus | uppercase}}
      </ion-card-content>
      <ion-card-content style="margin-top: 5%;" *ngIf="data.value.Status == '1'">
        <b>LULUS</b> <br>
        {{data.value.Pelulus | uppercase}}
      </ion-card-content>
    </ion-item>

  </ion-card>
</ion-content>
<ion-footer>
  <section>
    <ion-button class="btn-color" routerLink="/course" expand="full">KEMBALI</ion-button>
  </section>
</ion-footer>
