/* Insert Font Type*/
ion-title {
  font-family:Ubuntu-Regular !important;
  font-size: 20px;
}

ion-card-subtitle {
  font-family:Ubuntu-Regular !important;
  font-size: 15px;
}

ion-card-content {
  font-family:Ubuntu-Regular !important;
  font-size: 15px;
}

ion-button {
  font-family:Ubuntu-Regular !important;
}
/* End Of Font Type*/

.new-background-color{
  --background: #dadadd;
}


.titletext {
  font-weight: bold;
  text-align: center;
}

.bg-style {
  // --background: #f3e742;
  --background: #1E90FF;
}